<div class="bg-container d-flex flex-column justify-content-between">
    <app-nav></app-nav>
    <div class="container home-main-content">
        <div class="home-content">
            MEET YOUR SPECIAL
        </div>
        <div class="small-content">
            someone here
        </div>
        <button mat-raised-button (click)="openDialog()" >SignUp</button>
    </div>
    <div class="home-banner-footer">
        <div class="container-fluid d-flex flex-row justify-content-between">
            <div class="icons-social">
                <button mat-mini-fab >
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab >
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab >
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </button>
                <button mat-mini-fab >
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </button>
                
            </div>
            <div class="icons-middle">
               
                <button mat-mini-fab >
                    <i class="fa fa-arrow-down"></i>
                </button>
            </div>
            <div class="right-text">
                <h3>©2021</h3>
            </div>
        </div>
    </div>
</div>