<div class="home-navbar d-flex flex-row justify-content-between">
  <div class="nav-title d-flex flex-row">
    <div class="nav-title-main">dating</div>
    <div class="nav-title-sec ">site</div>
  </div>
  <div class="home-nav-options-container d-flex flex-row justify-content-end">
    <div class="home-nav-options active-nav">Home</div>
    <div class="home-nav-options">AboutUs</div>
    <div class="home-nav-options">Contact</div>
  </div>
  <div class="home-nav-menu-container d-flex flex-row">
    <button class="btn btn-outline-info" (click)="onLogin()">Login</button>
    <div class="btn menu-icon">
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
    </div>
  </div>
</div>